VITE_FIREBASE_API_KEY=AIzaSyC189NK22TaHgXR7bdEBa5z3YJZn1irqqU
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0714535254.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0714535254
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-steak11app-7c57ff54-8c74-4842-b5e8-0c0cc6d47316
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0714535254.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=937251245993
VITE_FIREBASE_APP_ID=1:937251245993:web:c544ecab23e96ca5553eb8
